<form>
  <div class="row g-3">
    <div class="col-12">
      <div class="form-floating">
        <input type="email" class="form-control" id="email" placeholder="Your Email">
        <label for="email">Email Address</label>
      </div>
    </div>
    <div class="col-12">
      <div class="form-floating">
        <input type="password" class="form-control" id="password" placeholder="Password">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary w-100 py-3" type="submit">Sign In</button>
    </div>
    <div class="text-center mt-3">
            
          <a routerLink="/logup" class="btn btn-link text-primary" >Need an account? Sign Up</a>
          </div>
    
  </div>
</form>