/* Sneat-specific custom color scheme */
:host {
  --bs-primary: #2124B1;
  --bs-secondary: #4777F5;
  --bs-light: #F7FAFF;
  --bs-dark: #1D1D27;
}

.bg-menu-theme {
  background-color: var(--bs-dark) !important;
  color: var(--bs-light);
}

.menu-link {
  color: var(--bs-light);
}

.menu-link:hover {
  color: var(--bs-primary);
}

.card-title.text-primary {
  color: var(--bs-primary) !important;
}

.btn-outline-primary {
  border-color: var(--bs-primary);
  color: var(--bs-primary);
}

.btn-outline-primary:hover {
  background-color: var(--bs-primary);
  color: var(--bs-light);
}

.badge.bg-label-primary {
  background-color: var(--bs-primary) !important;
  color: var(--bs-light);
}

.card {
  border-color: var(--bs-secondary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.layout-page{
  background-color: #f8f4fc !important;
}
.tab-content { background-color: rgb(248,244,252);}







.timeline {
  position: relative;
  padding-left: 2rem;
}

.timeline-item {
  position: relative;
  padding-bottom: 2rem;
}

.timeline-point {
  position: absolute;
  left: -2rem;
  top: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.timeline-point-primary {
  background-color: #696cff;
}

.timeline-point-success {
  background-color: #71dd37;
}

.timeline-point-danger {
  background-color: #ff3e1d;
}

.timeline-content {
  margin-left: 1rem;
}
