<div class="container-xxl py-5 bg-primary hero-header mb-5">
    <div class="container my-5 py-5 px-lg-5">
        <div class="row g-5 py-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="text-white mb-4 animated zoomIn">Empowering Your Business with <span class="fs-1" style=" font-weight: bold; font-size: large;">Tunisie Telecom</span>  Solutions</h1>
                <p class="text-white pb-3 animated zoomIn">
                    Discover tailored connectivity, cloud, and communication services designed to boost your enterprise's efficiency and growth.
                </p>
                <a href="" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft">Free Quote</a>
                <a routerLink="/contact" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">Contact Us</a>
            </div>
            <div class="col-lg-6 text-center text-lg-start" >
                <img class="img-fluid" style="height: 500px; " src="assets/img/mn.png" alt="">
            </div>
            
        </div>
    </div>
</div>